<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>

	<body>
		<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam rerum consectetur perferendis illo soluta.
			Qui dicta et vero aperiam corrupti pariatur eos aliquam enim provident similique distinctio fuga, sequi
			deleniti!</h1>
		<h1>{{name}} is from {{place}}</h1>
	</body>

</html>